@import url('reset.css');
@import url('grid.css');
@import url('responsive.css');

/*===============
  GLOBAL SETTINGS
=================*/

html, body{
  width: 100%;
  height: 100%;
}

/*=============
  GENERAL USE
===============*/

/* ===== LAYOUT ===== */

.boxed{
	max-width: 960px !important;
}

/*  ===== BOX POSITIONING ===== */
.relative{
  position: relative !important;
}

.static{
  position: static !important;
}

.fixed{
  position: fixed !important;
}

.absolute{
  position: absolute !important;
}

.top{
  top: 0 !important;
  bottom: auto;
}
.bottom{
  bottom: 0 !important;
  top: auto;
}
.left{
  left: 0 !important;
  right: auto;
}
.right{
  right: 0 !important;
  left: auto;
}

[class*="box-center"] {
  position: absolute !important;
}

.box-center-xy{
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box-center-x{
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.box-center-y{
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/*  ===== :AFTER AND :BEFORE POSITIONING ===== */
/* turns the :after and :before elements that are being positioned relative to their parents*/
[class*="after-"], [class*="before-"] {
  position: relative;
}
/* turns the :after and :before elements absolutely positioned to their parents*/
[class*="after-"]:after, [class*="before-"]:before{
  position: absolute !important;
}

/*centralize :after OR :before element */
.after-center-Xy:after, .before-center-xy:before{
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*horizontally centralize :after element */
.after-center-X:after{
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/*vertically centralize the :after element */
.after-center-y:after{
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/*horizontally centralize :before element */
.before-center-X:before{
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/*vertically centralize :before element */
.before-center-y:before{
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/*  ===== TEXT HACKS ===== */

.text-center{ 
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.text-justify{
  text-align: justify !important;
}

/* 
  The 4 classes above should be applied to the parent element of the text you're trying to align.
  Works only in text elements and elements with text-like behaviors.
  For box alignment please use the box-positioning or margin-auto classes.
*/

.break-word{
  word-wrap: break-word;  
}
.

/*  ===== MARGIN AND PADDING HACKS ===== */ 

.m-auto{
  margin: auto !important; 
}
.m-auto-x{ /* only works with display:block elements*/
  margin: 0 auto !important;
}
.m-auto-y{
  margin: auto 0 !important; 
}
.m-0{
  margin: 0 !important; 
}
.m-5{
  margin: 5px !important; 
}
.m-10{
  margin: 10px !important; 
}
.m-20{
  margin: 20px !important; 
}
.m-40{
  margin: 40px !important; 
}
.m-60{
  margin: 60px !important; 
}
.m-b-0{
  margin-bottom: 0 !important; 
}
.m-b-5{
  margin-bottom: 5px !important; 
}
.m-b-10{
  margin-bottom: 10px !important; 
}
.m-b-20{
  margin-bottom: 20px !important; 
}
.m-b-40{
  margin-bottom: 40px !important; 
}
.m-b-60{
  margin-bottom: 60px !important; 
}
.m-t-0{
  margin-top: 0 !important; 
}
.m-t-5{
  margin-top: 5px !important; 
}
.m-t-10{
  margin-top: 10px !important; 
}
.m-t-20{
  margin-top: 20px !important; 
}
.m-t-40{
  margin-top: 40px !important; 
}
.m-t-60{
  margin-top: 60px !important; 
}
.m-l-0{
  margin-left: 0 !important; 
}
.m-l-5{
  margin-left: 5px !important; 
}
.m-l-10{
  margin-left: 10px !important; 
}
.m-l-20{
  margin-left: 20px !important; 
}
.m-l-40{
  margin-left: 40px !important; 
}
.m-l-60{
  margin-left: 60px !important; 
}
.m-r-0{
  margin-right: 0 !important; 
}
.m-r-5{
  margin-right: 5px !important; 
}
.m-r-10{
  margin-right: 10px !important; 
}
.m-r-20{
  margin-right: 20px !important; 
}
.m-r-40{
  margin-right: 40px !important; 
}
.m-r-60{
  margin-right: 60px !important; 
}

.p-0{
  padding: 0 !important;
}
.p-0{
  padding: 0 !important; 
}
.p-5{
  padding: 5px !important; 
}
.p-10{
  padding: 10px !important; 
}
.p-20{
  padding: 20px !important; 
}
.p-40{
  padding: 40px !important; 
}
.p-60{
  padding: 60px !important; 
}
.p-b-0{
  padding-bottom: 0 !important; 
}
.p-b-5{
  padding-bottom: 5px !important; 
}
.p-b-10{
  padding-bottom: 10px !important; 
}
.p-b-20{
  padding-bottom: 20px !important; 
}
.p-b-40{
  padding-bottom: 40px !important; 
}
.p-b-60{
  padding-bottom: 60px !important; 
}
.p-t-0{
  padding-top: 0 !important; 
}
.p-t-5{
  padding-top: 5px !important; 
}
.p-t-10{
  padding-top: 10px !important; 
}
.p-t-20{
  padding-top: 20px !important; 
}
.p-t-40{
  padding-top: 40px !important; 
}
.p-t-60{
  padding-top: 60px !important; 
}
.p-l-0{
  padding-left: 0 !important; 
}
.p-l-5{
  padding-left: 5px !important; 
}
.p-l-10{
  padding-left: 10px !important; 
}
.p-l-20{
  padding-left: 20px !important; 
}
.p-l-40{
  padding-left: 40px !important; 
}
.p-l-60{
  padding-left: 60px !important; 
}
.p-r-0{
  padding-right: 0 !important; 
}
.p-r-5{
  padding-right: 5px !important; 
}
.p-r-10{
  padding-right: 10px !important;
}
.p-r-20{
  padding-right: 20px !important; 
}
.p-r-40{
  padding-right: 40px !important; 
}
.p-r-60{
  padding-right: 60px !important; 
}

/* DISPLAY AND VISIBILITY HACKS */
/*
  { NOTE }
  .INVISIBLE ELEMENTS ARE NOT THE SAME OF .HIDDEN ELEMENTS
  Use .hidden to remove the element completely from the layout
  and .invisible to make it not visible, but still mantaining it's space in the layout.
*/

.block{
  display: block !important;
}
.hidden{
  display: none !important;
}
.inline{
  display: inline !important;
}
.inline-block{
  display: inline-block !important;
}
.vertical-top{
  vertical-align: top;
}
.vertical-middle{
  vertical-align: middle;
}
.vertical-bottom{
  vertical-align: bottom;
}
.vertical-baseline{
  vertical-align: baseline;
}


.flex{
  display: flex !important;
}

.visible{
  visibility: visible;
}
.invisible{
  visibility: hidden;
}
table.invisible, table .invisible{
  visibility: collapse;
}

/* FORMS */

.inputgroup{
  width: 100%;
  display: block;
}

.inputgroup label{
  width: 100%;
  display: block;
}

.inputgroup input, select{
  width: 100%;
  display: block;
}

/* BUTTONS */
.btn{
  display: inline-block;
  background-color: #333;
  color: #FFF;
  padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
/* ===== FLOATS ===== */
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.form-group{
  clear: both;
  width: 100%;
}
.form-group .form-control{
  width: 100%;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}