.row{
    width: 100%;
}
.row:before,
.row:after {
  content: " ";
  display: block;
}

.row:after {
  clear: both;
}

[class*="col-"] {
    float: left;
	box-sizing: border-box;
	position: relative;
    display: block;
}

/* For smartphones */

    .col-sm-0 {display: none;}
    .col-sm-1 {width: 8.33%; display: block;}
    .col-sm-2 {width: 16.66%; display: block;}
    .col-sm-3 {width: 25%; display: block;}
    .col-sm-4 {width: 33.33%; display: block;}
    .col-sm-5 {width: 41.66%; display: block;}
    .col-sm-6 {width: 50%; display: block;}
    .col-sm-7 {width: 58.33%; display: block;}
    .col-sm-8 {width: 66.66%; display: block;}
    .col-sm-9 {width: 75%; display: block;}
    .col-sm-10 {width: 83.33%; display: block;}
    .col-sm-11 {width: 91.66%; display: block;}
    .col-sm-12 {width: 100%; display: block;}

    .col-sm-offset-0 {margin-left: 0;}
    .col-sm-offset-1 {margin-left: 8.33%;}
    .col-sm-offset-2 {margin-left: 16.66%;}
    .col-sm-offset-3 {margin-left: 25%;}
    .col-sm-offset-4 {margin-left: 33.33%;}
    .col-sm-offset-5 {margin-left: 41.66%;}
    .col-sm-offset-6 {margin-left: 50%;}
    .col-sm-offset-7 {margin-left: 58.33%;}
    .col-sm-offset-8 {margin-left: 66.66%;}
    .col-sm-offset-9 {margin-left: 75%;}
    .col-sm-offset-10 {margin-left: 83.33%;}
    .col-sm-offset-11 {margin-left: 91.66%;}
    .col-sm-offset-12 {margin-left: 100%;}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .col-md-0 {display: none;}
    .col-md-1 {width: 8.33%; display: block;}
    .col-md-2 {width: 16.66%; display: block;}
    .col-md-3 {width: 25%; display: block;}
    .col-md-4 {width: 33.33%; display: block;}
    .col-md-5 {width: 41.66%; display: block;}
    .col-md-6 {width: 50%; display: block;}
    .col-md-7 {width: 58.33%; display: block;}
    .col-md-8 {width: 66.66%; display: block;}
    .col-md-9 {width: 75%; display: block;}
    .col-md-10 {width: 83.33%; display: block;}
    .col-md-11 {width: 91.66%; display: block;}
    .col-md-12 {width: 100%; display: block;}
    .col-md-offset-0 {margin-left: 0;}
    .col-md-offset-1 {margin-left: 8.33%;}
    .col-md-offset-2 {margin-left: 16.66%;}
    .col-md-offset-3 {margin-left: 25%;}
    .col-md-offset-4 {margin-left: 33.33%;}
    .col-md-offset-5 {margin-left: 41.66%;}
    .col-md-offset-6 {margin-left: 50%;}
    .col-md-offset-7 {margin-left: 58.33%;}
    .col-md-offset-8 {margin-left: 66.66%;}
    .col-md-offset-9 {margin-left: 75%;}
    .col-md-offset-10 {margin-left: 83.33%;}
    .col-md-offset-11 {margin-left: 91.66%;}
    .col-md-offset-12 {margin-left: 100%;}
}

/* For notebooks */
@media only screen and (min-width: 992px) {
    .col-lg-0 {display: none;}
    .col-lg-1 {width: 8.33%; display: block;}
    .col-lg-2 {width: 16.66%; display: block;}
    .col-lg-3 {width: 25%; display: block;}
    .col-lg-4 {width: 33.33%; display: block;}
    .col-lg-5 {width: 41.66%; display: block;}
    .col-lg-6 {width: 50%; display: block;}
    .col-lg-7 {width: 58.33%; display: block;}
    .col-lg-8 {width: 66.66%; display: block;}
    .col-lg-9 {width: 75%; display: block;}
    .col-lg-10 {width: 83.33%; display: block;}
    .col-lg-11 {width: 91.66%; display: block;}
    .col-lg-12 {width: 100%; display: block;}
    .col-lg-offset-0 {margin-left: 0;}
    .col-lg-offset-1 {margin-left: 8.33%;}
    .col-lg-offset-2 {margin-left: 16.66%;}
    .col-lg-offset-3 {margin-left: 25%;}
    .col-lg-offset-4 {margin-left: 33.33%;}
    .col-lg-offset-5 {margin-left: 41.66%;}
    .col-lg-offset-6 {margin-left: 50%;}
    .col-lg-offset-7 {margin-left: 58.33%;}
    .col-lg-offset-8 {margin-left: 66.66%;}
    .col-lg-offset-9 {margin-left: 75%;}
    .col-lg-offset-10 {margin-left: 83.33%;}
    .col-lg-offset-11 {margin-left: 91.66%;}
    .col-lg-offset-12 {margin-left: 100%;}
}

/* For hd screens */
@media only screen and (min-width: 1280px) {
    .col-wd-0 {display: none;}
    .col-wd-1 {width: 8.33%; display: block;}
    .col-wd-2 {width: 16.66%; display: block;}
    .col-wd-3 {width: 25%; display: block;}
    .col-wd-4 {width: 33.33%; display: block;}
    .col-wd-5 {width: 41.66%; display: block;}
    .col-wd-6 {width: 50%; display: block;}
    .col-wd-7 {width: 58.33%; display: block;}
    .col-wd-8 {width: 66.66%; display: block;}
    .col-wd-9 {width: 75%; display: block;}
    .col-wd-10 {width: 83.33%; display: block;}
    .col-wd-11 {width: 91.66%; display: block;}
    .col-wd-12 {width: 100%; display: block;}
    .col-wd-offset-0 {margin-left: 0;}
    .col-wd-offset-1 {margin-left: 8.33%;}
    .col-wd-offset-2 {margin-left: 16.66%;}
    .col-wd-offset-3 {margin-left: 25%;}
    .col-wd-offset-4 {margin-left: 33.33%;}
    .col-wd-offset-5 {margin-left: 41.66%;}
    .col-wd-offset-6 {margin-left: 50%;}
    .col-wd-offset-7 {margin-left: 58.33%;}
    .col-wd-offset-8 {margin-left: 66.66%;}
    .col-wd-offset-9 {margin-left: 75%;}
    .col-wd-offset-10 {margin-left: 83.33%;}
    .col-wd-offset-11 {margin-left: 91.66%;}
    .col-wd-offset-12 {margin-left: 100%;}
}

/* For full-hd screens */
@media only screen and (min-width: 1601px) {
    .col-sw-0 {display: none;}
    .col-sw-1 {width: 8.33%; display: block;}
    .col-sw-2 {width: 16.66%; display: block;}
    .col-sw-3 {width: 25%; display: block;}
    .col-sw-4 {width: 33.33%; display: block;}
    .col-sw-5 {width: 41.66%; display: block;}
    .col-sw-6 {width: 50%; display: block;}
    .col-sw-7 {width: 58.33%; display: block;}
    .col-sw-8 {width: 66.66%; display: block;}
    .col-sw-9 {width: 75%; display: block;}
    .col-sw-10 {width: 83.33%; display: block;}
    .col-sw-11 {width: 91.66%; display: block;}
    .col-sw-12 {width: 100%; display: block; clear: both;}
    .col-sw-offset-0 {margin-left: 0;}
    .col-sw-offset-1 {margin-left: 8.33%;}
    .col-sw-offset-2 {margin-left: 16.66%;}
    .col-sw-offset-3 {margin-left: 25%;}
    .col-sw-offset-4 {margin-left: 33.33%;}
    .col-sw-offset-5 {margin-left: 41.66%;}
    .col-sw-offset-6 {margin-left: 50%;}
    .col-sw-offset-7 {margin-left: 58.33%;}
    .col-sw-offset-8 {margin-left: 66.66%;}
    .col-sw-offset-9 {margin-left: 75%;}
    .col-sw-offset-10 {margin-left: 83.33%;}
    .col-sw-offset-11 {margin-left: 91.66%;}
    .col-sw-offset-12 {margin-left: 100%;}
}
