@import url('reset.css');
@import url('grid.css');
@import url('responsive.css');
@import url('base.css');
@import url('fonts.css');

.ajax-loading{
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	transition: 1s;
	pointer-events: none;
}
.ajax-loading.active{
	opacity: 1;
}
/* Azul #008ac0 */
/* Azul escuro #005672 */
/* Cinza #7f7f7f*/
/*Cinza Texto #6a6a6a; */

body{
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	background-color: #fff;
	background-repeat: no-repeat;
	padding: 2.5em;
}
body.noticias,
body.noticias.interna{
	background-image: url('../img/bg-noticias.jpg');
	background-size: 100%;
}
body.cursos{
	background-image: url('../img/bg-cursos.jpg');
	background-size: cover;
	background-attachment: fixed;
}
body.cursos.interna{
	background-image: url('../img/bg-interna.jpg');
	background-size: 100%;
	background-attachment: unset;
}
body.login{
	background-image: url('../img/bg-login.jpg');
	background-attachment: fixed;	
	background-size: cover;
}
body.perfil{
	background-image: url('../img/bg-perfil.jpg');
	background-attachment: fixed;	
	background-size: cover;
}
h1{
	font-size: 2.25em;
	font-weight: 300;
}
.interna h1{
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1em;
	display: inline-block;
}

h2{
    font-size: 2.3em;
	font-weight: 300;
}
h3{
    font-size: 2.4em;
	font-weight: 500;
}
h4{
    font-size: 1.15em;
    font-weight: 900;
}


.c-0{
	color: #fff;
}
.c-1{
	color: #008ac0;
}
.c-2{
	color: #005672;
}
.c-3{
	color: #7f7f7f;
}
.c-3{
	color: #6a6a6a;
}
.bg-0{
	background-color: #fff;
}
.bg-1{
	background-color: #008ac0;
}
.bg-2{
	background-color: #005672;
}
.bg-3{
	background-color: #7f7f7f;
}
.bg-3{
	background-color: #6a6a6a;
}

.rounded{
	border-radius: 40px;
}

section{
	margin: 0 auto;
	padding: 0 2.5em; 
}
section.container{
	max-width: 1280px;
	margin-bottom: 60px;
}

.btn{
	color: #008ac0;
	background: transparent;
	border: 2px solid #008ac0;
	border-radius: 2.5em;
	font-size: 1em;
	padding: 10px 2.5em;
	font-weight: 700;
	cursor: pointer;
}
.btn:hover, .btn.active{
	background-color: #008ac0;
	color: #fff;
	font-weight: 500
}

.link{
	border-bottom: 2px solid white;
	transition: 0.3s;
}
.user-name a,
.logout a{
	border-bottom: 2px solid transparent;
	transition: 0.3s;
	display: inline-block;
}
.link:hover{
	border-bottom: 2px solid transparent;
}
.user-name a:hover,
.logout a:hover{
	border-bottom: 2px solid #008ac0;
}

header .user-options{
	font-weight: 900;
	color: #005672;
}

.login header .user-options{
	display: none;
}

header nav{
	padding-bottom: 6em;
}
.perfil header nav,
.login header nav{
	padding-top: 6em;
}

header nav .btn{
	width: 200px;
	margin: 0 140px;
	position: relative;
	top: -60px;
}

.perfil header nav .btn,
.login header nav .btn{
	display: none;
}

header nav .logo img{
	max-width: 218px;
}

.perfil header nav .logo img,
.login header nav .logo img{
	max-width: 304px;
}

.cursos .grid-item{
	padding: 1.25em;
}
.noticias .grid-item{
	padding: 0 3.75em;
}

.course{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	border: 2px #008ac0 solid;
    border-radius: 2.5em;
}

.course .thumbnail{
	height: 170px;
	overflow: hidden;
    border-radius: 2.3em 2.3em 0 0;
}
.course .thumbnail img{
	width: 100%;
}
.course .thumbnail .overlay{
	width: 100%;
	height: 100%;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: #008ac0;
	font-family: 'Roboto Condensed';
	color: #fff;
	font-weight: 900;
	font-size: 1.15em;
	line-height: 1.15em;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.course:hover .thumbnail .overlay{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.course .details{
	padding: 1.25em 1.25em 25px;
	font-family: 'Roboto Condensed';
	background: #fff;
	border-top: none;
    border-radius: 0 0 2.5em 2.5em;
}

.course .details h4{
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    color: #008ac0;
    line-height: 18px;
}

.course .details p{
	color: #7f7f7f;
	font-weight: normal;
	line-height: 1em;
    margin-top: 15px;
}

.news{
	margin-bottom: 5em;
}

.news .thumbnail{
	height: 270px;
	overflow: hidden;
}
.news .thumbnail img{
	width: 100%;
}

.news .details h2{
	color: #008ac0;
	margin-top: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}
.news .details p{
	margin-top: 1.25em;
	color: #6a6a6a;
	max-height: 5em;
	overflow: hidden;
}

.line-detail{
	margin-left: -80px;
	border-bottom: 2px solid #fff;
}

.form h1{
	color: #fff;
}
.form .form-group{
	margin-bottom: 1.25em;
}
.form .btn{
	width: 100%;
	text-align: center;
	padding: 1.25em 2.5em;
	color: #fff;
	border: 2px solid #fff;
}
.form input::-webkit-input-placeholder{
	color: #008ac0;
}
.form input::-moz-placeholder{
	color: #008ac0;
}
.form input:-ms-input-placeholder{
	color: #008ac0;
}
.form input::placeholder{
	color: #008ac0;
}
.form input{
	border-radius: 2.5em;
	font-weight: 700;
	font-size: 1em;
	color: #008ac0;
	padding: 1.25em 2.5em;
	border: 2px solid #008ac0;
}

.form .form-group{
	position: relative;
}

.form .form-group.disabled input:disabled{
	background-color: #f0f0f0;
}

.form .form-group .edit{
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: 1.25em;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.form-group.validate, .form-group.confirm{
	display: none;
}

.form .form-group.senha:not(.disabled) + .form-group.validate{
	display: block;
}

.form .form-group.valid .edit{
	background-image: url("../img/check-icon.png");
}
.form .form-group.disabled .edit{
	background-image: url("../img/edit-icon.png");
	cursor: pointer;
}

.form .separator{
	width: 100%;
	color: #fff;
	position: relative;
	display: inline;
}

.form .separator:after,
.form .separator:before{
	content: "";
	width: 1.25em;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;	-webkit-transform: translateY(-50%);	transform: translateY(-50%);
}
.form .separator:after{
	right: -40px;
}
.form .separator:before{
	left: -40px;
}

.form .link{
	color: #fff;
}
aside ul{
	margin-bottom: 3.75em;
}
aside ul li{
	color: #6a6a6a;
	font-weight: 300;
	font-size: 1.1em;
	margin-top: 1.25em;
	cursor: pointer;
}
aside ul li.active, aside ul li:hover{
	color: #008ac0;
}
aside ul li.active{
	font-weight: 500;
}

aside ul li .icon{
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 46px;
	margin-right: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

aside ul li .title{
	border-bottom: 2px solid transparent;
}
aside ul li:hover .title{
	border-bottom: 2px solid #008ac0;
	transition: 0.3s;
}

aside .inline-block{
	max-width: calc(100% - 70px);
}

aside ul li .index{
	font-size: 0.8em;
	line-height: 1.5em;
}
.last-news li .icon{
	background-image: url("../img/news-icon.png");
}
.last-news li.active .icon,
.last-news li:hover .icon{
	background-image: url("../img/news-hover-icon.png");
}
.videos li .icon{
	background-image: url("../img/video-icon.png");
}
.videos li.active .icon,
.videos li:hover .icon{
	background-image: url("../img/video-hover-icon.png");
}
.audios li .icon{
	background-image: url("../img/audio-icon.png");
}
.audios li.active .icon,
.audios li:hover .icon{
	background-image: url("../img/audio-hover-icon.png");
}

.last-news li.done .icon,
.videos li.done .icon,
.audios li.done .icon{
	background-image: url("../img/done-icon.png");
}
.last-news li.done:hover .icon,
.last-news li.done.active .icon,
.videos li.done:hover .icon,
.videos li.done.active .icon,
.audios li.done:hover .icon,
.audios li.done.active .icon{
	background-image: url("../img/undone-icon.png");
}

aside p{
	font-weight: 300;
}
article{
	position: relative;
}
article .media, article .content{
	margin-top: 3.75em;
}

article .media{
	position: relative;
}

article .media img{
	max-width: 100%;
}

article .media .audio-src{
	padding-bottom: 0;
	height: 180px;
}
article .media .audio-src iframe{
    height: 180px;
}

article h2.index{
	font-size: 1.85em;
}

article .content p{
	color: #6a6a6a;
	font-weight: 300;
	font-size: 1.15em;
	line-height: 1.35em;
	margin-bottom: 2.5em;
	text-align: justify;
}

article .done, article .un.done{
	cursor: pointer;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: -18%;
	width: 4.5em;
	height: 4.5em;
	background-image: url('../img/done-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
article .un.done{
	background-image: url('../img/undone-icon.png');
}
article .done:after{
	content: "FEITO";
	position: absolute;
	bottom: -30px;
	text-align: center;
	width: 100%;
	font-size: 0.9em;
	color: #005672;
	font-weight: 700;
}
article .un.done:after{
	content: "CONCLUIR";
	position: absolute;
	bottom: -30px;
	text-align: center;
	width: 100%;
	font-size: 0.9em;
	color: #005672;
	font-weight: 700;
}


.dropdown{
	width: 200px;
	float: right;
	color: #008ac0;
	background: #fff;
	border: 2px solid #008ac0;
	font-size: 1em;
	font-weight: 500;
	border-radius: 2.5em;
	cursor: pointer;
	text-transform: uppercase;
	overflow: hidden;
	z-index: 9;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.dropdown.open{
	border-radius: 0;
}
.dropdown li{
	padding: 15px;
	display: none;
}
.dropdown li.active{
	padding: 15px;
	display: block;
}
.dropdown.open li{
	border-radius: 0;
	display: block;
}
.dropdown.open li.active,
.dropdown li:hover{
	background-color: #008ac0;
	color: #fff;
}
.dropdown li.active{
	background-color: #fff;
	color: #008ac0;
}
.dropdown:after{
	content: " ";
	pointer-events: none;
	background-image: url('../img/select-icon.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 15px;
	top: 10px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.dropdown.open:after{
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.validation a{
	text-decoration: underline;
	font-size: 0.8em;
}
.error, .success{
	font-size: 1.2em;
	line-height: 2em;
	background-color: #B91111;
	color: #fff;
	margin-bottom: 1.25em;
	padding: 0 1.25em;
	border-radius: 2.5em;
}

.success{
	background-color: #7DBA7C;
}

.comments .validation{
	display: none;
}


.transition.active{
	-webkit-animation: fadeOut 0.9s forwards;
	        animation: fadeOut 0.9s forwards;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: #fff;
	z-index: 999;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	pointer-events: none;
}
.transition{
	-webkit-animation: fade 0.9s forwards;
	        animation: fade 0.9s forwards;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: #fff;
	z-index: 999;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	pointer-events: none;
}


.comments h3{
	font-weight: 300;
	margin-bottom: 20px;
}
.comments textarea{
	width: 100%;
	background-color: #f6f6f6;
	min-height: 100px;
	padding: 20px;
	border: none;
	margin-bottom: 20px;
	font-family: inherit;
	font-size: 1em;
	font-weight: 300;
}

@-webkit-keyframes fade{
	from{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	to{
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
}

@keyframes fade{
	from{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	to{
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
}

@-webkit-keyframes fadeOut{
	from{
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	to{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
}

@keyframes fadeOut{
	from{
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	to{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
}
@media screen and (max-width: 1080px){
	header nav{
		padding-bottom: 3.75em;
		padding-top: 3.5em;
	}
	header nav .btn{
		margin: 1.5em;
		top: 0;
	}
	.news .thumbnail{
		height: 170px;
	}
	.noticias .grid-item {
	    padding: 0 1.25em;
	}
	body{
		font-size: 14px;
	}
	section{
    	padding: 0 10px;
    }
    .dropdown:after{
    	top: 7px;
    }
    article .media, article .content{
    	margin-top: 30px;
    }
    .interna h1{
    	margin-bottom: 40px;
    }
    aside ul li .icon{
    	width: 26px;
    	height: 28px;
    }
    .course .thumbnail{
    	height: 170px;
    }
}

@media screen and (max-width: 768px){
	body.perfil{
		background-image: url('../img/mobile-bg-perfil.jpg');
		background-attachment: fixed;	
		background-size: cover;
	}
	.perfil header nav,
	.login header nav{
		padding-top: 4em;
	}
	body.login{
		background-image: url('../img/mobile-bg-login.jpg');
		background-attachment: fixed;	
		background-size: cover;
	}
}
@media screen and (max-width: 480px){
	article .done{
		position: relative;
	}
}

.light{
	font-weight: 300;
}
.regular{
	font-weight: 500;
}
.medium{
	font-weight: 700;
}
.bold{
	font-weight: 900;
}