.media-container{
	position: relative;
}
.media-container img,
.media-container video,
.media-container audio{
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 0;
}
.media-container img{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.iframe-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}